<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>  
  <section class="Intro">
    <h2>Introduction</h2>
    <p>Welcome to our restaurant, where we offer the finest dining experience to our valued customers. Our restaurant is the perfect place to come and enjoy an unforgettable meal with family and friends. Our top-notch chefs use only the finest ingredients to create mouth-watering dishes that are sure to delight your taste buds. </p>
    <p>To view our menu, <a href="/Login">Login</a>/<a href="/SignUp">Sign-Up</a> by clicking on the links in top right corner</p>
  </section>
  <hr>
  <section class="Intro">
    <h2>Our Offerings</h2>
    <p> Our menu is filled with a variety of delicious dishes that cater to all tastes. Whether you're in the mood for a hearty burger or a fresh salad, we have something that will satisfy your cravings. Our selection of appetizers, entrees, and desserts are thoughtfully prepared with your satisfaction in mind.

    Be sure to check out our daily specials, featuring locally sourced and seasonal ingredients that are always fresh and bursting with flavor. We also offer a fully stocked bar, complete with a wide selection of beers, wines, and cocktails to complement your meal.</p>
  </section>
  <hr>
  <section class="Intro">
    <h2>About Us</h2>
    <p>Our restaurant was established with the belief that great food should be shared with great company. Our goal is to create a warm and welcoming atmosphere where you can sit back, relax, and enjoy a delicious meal with your loved ones. We strive to provide top-notch service and an exceptional dining experience that leaves you wanting more.
      Thank you for considering our restaurant, and we look forward to serving you soon!
    </p>
  </section>
</body>
</html>